<body>
<div class="addmerch-section">
  <div class="addmerch-white">
  <div class="addmerch-details">
    <h1>Add Merchant</h1>
    <form action="#">
      <label for="productName">Product Name</label>
      <tr><tr></tr><label for="pointsCost">Points Cost</label>
      <label for="size">Size Options</label> 
      <label for="color">Color Options</label>

      <input type="text" id="productName" name="productName" required>

      <input type="number" id="pointsCost" name="pointsCost" required>
 
      <select id="size" name="size" required>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
      </select>
     
      <select id="color" name="color" required>
        <option value="#000000">Black</option>
        <option value="#FFFFFF">White</option>
        <option value="#FF0000">Red</option>
        <option value="#00FF00">Green</option>
        <option value="#0000FF">Blue</option>
      </select>

      <label for="imageUpload">Image Upload:</label>
      <input type="file" id="imageUpload" name="imageUpload" required>

      <button type="submit">Save</button>
    </form>
  </div>
  </div>
</div>
</body>