<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <form [formGroup]="submitForm" *ngIf="hasLoaded">
    <div class="form-group">
      <mat-label for="recipient-name">Recipient name</mat-label>
      <input matInput formControlName="name" />
    </div>
    <div class="form-group">
      <mat-label for="street-address">Street address</mat-label>
      <input matInput formControlName="address1" />
    </div>
    <div class="form-group">
      <mat-label for="address-line-2">Address line 2</mat-label>
      <input matInput formControlName="address2" />
    </div>
    <div class="form-group">
      <mat-label for="city">City</mat-label>
      <input matInput formControlName="city" />
    </div>
    <div class="form-group">
      <mat-label for="state">State</mat-label>
      <input matInput formControlName="state" />
    </div>
    <div class="form-group">
      <mat-label for="zip-code">Zip code</mat-label>
      <input matInput formControlName="zip" />
    </div>
    <button
        mat-raised-button
        color="primary"
        [disabled]="!submitForm.valid"
        (click)="submit()"
      >
        Submit
    </button>
    <div class="order-details">
      <h3>Order details</h3>
      <ul>
        <li *ngFor="let item of merchandiseItems">
          <!-- {{ item.name }} - {{ item.quantity }} -->
        </li>
      </ul>
    </div>
  </form>
</div>